<div class="card">
    <div class="card-header">
        {{pageTitle}}
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4 offset-md-2">
              <button class="btn btn-primary mr-3"
                      type="submit"
                      style="width:80px"
                      (click)="login()">
                Log In
              </button>
              <button class="btn btn-outline-secondary"
                      type="button"
                      style="width:80px">
                Cancel
              </button>
            </div>
          </div>
         
    </div>
</div>